.title {
  text-align: center;
}
.lil-title {
  text-align: center;
  font-style: italic;
  font-size: 23px;
}
.lil-lil-title {
  text-align: center;
  font-size: 16px;
}
.about-pic-container {
  margin-top: 195px;
  display: flex;
  justify-content: flex-end;
}
