html{
  margin: 0;
}
body{
  background-color: rgb(255, 255, 255);
}
.container{
  margin: 0 auto;
  width: 1200px;
  height: 1000px;
  background-color: #fff;
  box-shadow: 0px 5px 30px 1px rgba(34, 60, 80, 0.6);
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(112, 173, 201);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
#header-name{
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}
.page-ref{
  margin: 30px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.lil-container{
  display: flex;
}
.item-container{
  margin: 0 20px;
  border-bottom: 2px solid black;
}
.item-container-disabled{
  margin: 0 20px;
}
.login-btn{
  align-self: center;
  width: 60px;
  height: 30px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.login-btn:hover{
  border: 2px solid white
}
.inner-cont{
  display: flex;
  gap: 800px;
  padding-top: 20px;
}
.cart-info{
  margin: 0;
}
.prod-price{
  font-weight: bold;
}
