html {
  margin: 0;
}
body {
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
}
.container {
  margin: 0 auto;
  width: 1200px;
  height: 1000px;
  background-color: #fff;
  box-shadow: 0px 5px 30px 1px rgba(34, 60, 80, 0.6);
  max-height: 830px;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2c2c2c;
  /* background: linear-gradient(to right, #654ea3, #eaafc8); */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  height: 111px;
}
#header-name {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}
.page-ref {
  position: relative;
  margin: 30px;
  text-decoration: none;
  color: #eaafc8;
  font-weight: bold;
  bottom: 3px;
}
.page-ref-active {
  border-bottom: 3px solid #ffffff;
}
.lil-container {
  display: flex;
}
.item-container {
  margin: 0 20px;
}
.login-btn {
  align-self: center;
  width: 100px;
  height: 40px;
  background-color: #eaafc8;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
.login-btn:hover {
  border: 2px solid white;
}
.inner-cont {
  display: flex;
  gap: 800px;
  padding-top: 20px;
}
.cart-info {
  margin: 0;
}
.prod-price {
  font-weight: bold;
}
.cart-count-amount {
  display: flex;
}
.count {
  margin-right: 20px;
}
.cart-container {
  background-color: #fff;
  padding: 8px 8px 8px 8px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.25) inset;
  border-radius: 10px;
}
.cart-count {
  margin: 0;
  margin-bottom: 12px;
}
.cart-amount {
  margin: 0;
}
.not-found{
  margin: 100px auto;
  text-align: center;
}