html {
  min-height: 100%;
}
body {
  font-family: "Nunito", sans-serif;
  background: linear-gradient(
    -45deg,
    #1A2980,
    #26D0CE
  );
}
#container {
  margin: 15px auto;
  width: 700px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
header {
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#headerName {
  /* font-family: "", sans-serif; */
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 36px;
  color: #1e609a;
  font-weight: 400;
}
#form {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.label {
  color: rgb(102, 101, 101);
}
input {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 18px;
  width: 400px;
}
textarea {
  resize: none;
  outline: none;
  font-size: 14px;
  border: 1px solid #ccc;
}
.symbols{
  margin-top: -8px;
  margin-bottom: 0px;
  text-align: right;
  font-size: 12px;
  color: rgb(155, 155, 155);
}
.default-button {
  height: 36px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
#cancel-btn {
  margin-top: 20px;
  background-color: #ffffff;
  border: 2px solid #1e609a;
  color: #282c34;
}
#submit-btn {
  margin-bottom: 15px;
  background-color: #1e609a;
  border: none;
  color: #ffffff;
}

/*ANKETA*/
.summary-container {
  word-wrap: break-word;
  margin: 15px auto;
  width: 700px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  padding-bottom: 15px;
}
.summary-header {
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.summary-header-name {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 36px;
  color: #1e609a;
  font-weight: 400;
}
.summary-data{
  font-size: 18px;
  margin-left: 25px;
  margin-right: 25px;
}
span{
  font-weight: bold;
  padding-right: 6px;
}
.errorMessage{
  font-size: 12px;
  color: red;
  text-align: right;
}